  /********************************************/
 /*************** GENERAL ********************/
/********************************************/

:root {
  --bg1-color: #ffffff;
  --bg2-color: #eeefff;
  --bg3-color: #54538b;
  --text-color: #222222;
  --text2-color: #10460f;
  --link-color: #0077cc;
}

.dark-theme {
  --bg1-color: #272838;
  --bg2-color: #1b1c2b;
  --bg3-color: #272838;
  --text-color: #aaafd1;
  --text2-color: #aad1b1;
  --link-color: #4ea6ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg2-color);
  color: var(--text-color);
  line-height: 1.6;
}

  /********************************************/
 /*************** NAVBAR *********************/
/********************************************/

nav {
  background: linear-gradient(150deg, var(--bg2-color) 0%, var(--bg2-color) 100%);
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  width: 100%;
  z-index: 1100;

  > div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;

    button {
      color: var(--text-color);
      background: none;
      border: none;
      display: flex;
      place-content: center;
      cursor: pointer;
      font-size: 1.7rem;
      height: 40px;
      width: 40px;

      &:nth-of-type(2) {
        color: var(--text-color);
        background-color: var(--bg2-color);
        border: none;
        cursor: pointer;
        position: fixed;
        right: 1rem;
        font-size: 20px;
        height: 30px;
        width: 30px;
        border-radius: 10px;
      }

      &:nth-of-type(3) {
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--bg2-color);
        position: fixed;
        right: 3rem;
        font-size: 20px;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        border: none;
      }
    }

    a {
      color: var(--text-color);
      display: flex;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      margin-left: 40px;
      padding: 0 1px;
      font-size: 1.3rem;
      gap: 20px;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
    }
  }
}

  /********************************************/
 /*************** SIDEBAR ********************/
/********************************************/

body > aside:first-of-type {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 220px;
  height: 90vh;
  padding: 0.1rem 0.5rem 0.5rem 1rem;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 1s ease;
  z-index: 1000;
  overflow: hidden;

  &.active {
    transform: translateX(0);
  }

  h3 {
    color: var(--text2-color);
    margin: 0.5rem 0 0 0;
    padding: 0;
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    margin: 1rem 0rem 1rem 0rem;
    height: 82vh;
    /* SCROLL en la lista sin mover el título */
    max-height: calc(90vh - 3rem); /* ajusta según altura del título y padding */
    overflow-y: auto;
    overflow-x: hidden;

    li {
      margin-bottom: 0.5rem;
      border-radius: 5px;
      width: 90%;

      &:hover {
        background-color: var(--bg1-color);

        a {
          color: var(--text2-color);
        }
      }

      a {
        color: var(--text-color);
        text-decoration: none;
        padding: 0.4rem 1rem;
        display: block;
        transition: background-color 0.8s ease;
        border-radius: 5px;

        &.active {
          background-color: #2c3e50;
          color: #aad1b1;
          font-weight: 500;
          border-radius: 5px;
          padding: 0.4rem 1rem;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg2-color);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bg3-color);
      border-radius: 4px;

      &:hover {
        background-color: var(--bg3-color);
      }
    }
  }

  &.active ~ div:nth-of-type(2) {
    margin-left: 150px;
    width: calc(100% - 250px);
  }
}

body > aside:first-of-type.active ~ div:nth-of-type(2) .container {
  transform: translateX(-50px);
}

  /********************************************/
 /*************** WRAPPER ********************/
/********************************************/

div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-left: 0;
  transition: margin-left 0.8s ease, width 0.8s ease;

  > div {
    position: relative; /* permite moverlo con transform sin que se “tire” */
    margin-top: 70px;
    transition: transform 0.3s ease;

    main {
      background-color: var(--bg2-color);
      box-shadow: 0 4px 6px rgba(#181822);
      justify-content: center;
      display: flex;
    }
  }
}

  /********************************************/
 /*************** ASIDE **********************/
/********************************************/

body > div:nth-of-type(2) > aside {
  width: 19%;
  position: fixed;
  top: 4rem;
  right: 1rem;
  height: 90vh;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  h3 {
    margin: 0.5rem 0 0 0;
    padding: 0;
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 1rem;
    padding-right: 2rem;
    height: 90%;
    max-height: 80vh;
    overflow-y: auto;

    li {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--bg1-color);

        a {
          color: var(--text2-color);
        }
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1rem;

        &.active {
          color: var(--text2-color);
          font-weight: 500;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg2-color);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bg3-color);
      border-radius: 4px;

      &:hover {
        background-color: var(--bg3-color);
      }
    }
  }
}

  /********************************************/
 /*************** SECTION ********************/
/********************************************/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: min-height 0.8s ease;
  border: 1px solid red;

  h1 {
    color: var(--text2-color);
    font-size: clamp(1.6rem, 2vw + 0.8rem, 2.5rem);
    margin-bottom: 1rem;
  }

  div {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    padding: 1rem 3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--bg2-color);
    box-shadow: 
      0 10px 20px rgba(5, 6, 20, 0.062),
      6px 6px 14px rgba(5, 6, 20, 0.103),
      -6px 6px 14px rgba(5, 6, 20, 0.089),
      0 -4px 10px rgba(5, 6, 20, 0.068);
    width: 95%;
    gap: 20px;
    display: flex;
    flex-direction: column;

    h2 {
      color: var(--text2-color);
      font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.5rem);
      border-bottom: 2px solid var(--text2-color);
      scroll-margin-top: 5rem; 
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      min-width: 100%;

      .btn-copiar-ejercicio {
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #888;
        border-radius: 8px;
        background-color: var(--bg2-color);
        color: var(--text-color);
        cursor: pointer;
        overflow: hidden;
        padding: 0 12px;
        box-sizing: border-box;
        font-family: sans-serif;
      }

      .btn-copiar-ejercicio .icon-copy {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-copiar-ejercicio .text-hover {
        white-space: nowrap;
        opacity: 1;
      }

      .btn-copiar-ejercicio.copiado {
        background-color: var(--bg2-color);
      }
    }

    p {
      color: var(--text-color);
      font-size: 1.2rem;
      text-align: justify;

      .codespan {
        display: inline-block;               
        background-color: #1b1b1b8e !important;
        height: auto;
        padding:0;
        margin-bottom: -8px;
        margin-right: 2px;
        color: #31c7ae !important;
        border-radius: 6px;       
        overflow-x: none !important;
        overflow-y: auto;
        font-family: 'Fira Code', monospace;
        font-size: 1.1rem !important;
        border: 2px solid #333;
        white-space: pre-wrap !important; 
        word-wrap: break-word !important;  
        overflow-x: visible !important;
      }

      .codespan > span:first-child {
        margin-right: 10px;
      }
    }

    h3 {
      color: var(--text2-color);
      font-size: clamp(1.2rem, 1.2vw + 0.5rem, 1.3rem);
      font-weight: 600;
      margin-top: 15px;
    }

    .solucion{
      margin: 0px 2px 1px 2px;
      padding: 0.5rem 1rem 1rem 1rem;
      width:fit-content;
      border: 1px solid var(--bg3-color);
    }

    .lista-estilizada {
      padding-left: 3vw;
      margin-top: 1px;
      margin-bottom: 10px;
      list-style-type: disc;
      font-size: 1.2rem;

      li {
        padding: 3px 0px;
        line-height: 1.5;
      }

      code {
        background-color: #f0f0f0;
        font-family: monospace;
        padding: 2px 4px;
        border-radius: 3px;
      }
    }

    .lista-column {
      padding-left: 50px;
      list-style-type: disc;
      font-size: 1.2rem;
      column-width: 200px;
      column-gap: 20px; 
    }

    pre {
      background-color: transparent !important;
      border: none;
      padding: 0 !important;
      margin: 20px auto !important;
      all: unset;
      display: block;
      white-space: pre;
      tab-size: 2 !important; 
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      overflow-x: hidden !important; 
      border-radius: 10px;
      max-width: 80%;
    }

    .language-javascript {
      display: block;
      background-color: #00000015 !important;
      color: #31c7ae !important;
      padding: 0rem 2rem 2rem 2rem;
      border-radius: 10px;
      overflow-x: none !important;
      overflow-y: auto;
      font-family: 'Fira Code', monospace;
      font-size: 1rem !important;
      line-height: 1.5;
      border: 2px ridge #333;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      overflow-x: hidden !important; 
      width:100%;
    }

    .language-javascript2 {
      display: inline-flex;      
      justify-content: center;         
      background-color: #1b1b1b8e !important;
      height: 30px;
      margin-bottom: -8px;
      margin-right: 2px;
      color: #31c7ae !important;         
      padding: 0rem 0.4rem !important;
      border-radius: 10px;       
      overflow-x: none !important;
      overflow-y: auto;
      font-family: 'Fira Code', monospace;
      font-size: 1.1rem !important;
      border: 1px solid #333;
      white-space: pre-wrap !important; 
      word-wrap: break-word !important;  
      overflow-x: hidden !important; 
    }

    .language-html {
      display: block;
      background-color: #00000015 !important;
      color: #f08e0d !important;  
      padding: 0rem 2rem 2rem 2rem;
      border-radius: 10px;
      overflow-x: none !important;
      overflow-y: auto;
      font-family: 'Fira Code', monospace;
      font-size: 1rem !important;
      line-height: 1.5;
      border: 2px ridge #333;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      overflow-x: hidden !important; 
      width:100%;
    }

    .token.keyword {
      color: #7c7ef7 !important;
    }

    .token.string {
      color: #e66060 !important;
    }

    .token.function {
      color: #dd60e9 !important; 
    }

    .token.comment {
      color: #a59b9b !important; 
      font-style: italic !important;
    }

    .token.number {
      color: #e2df2b !important; 
    }

    .token.variable {
      color: #1d81d3 !important; 
    }

    .token.operator {
      color: #98fa80 !important; 
    }

    .token.constant {
      color: #228b22 !important; 
    }

    .token.boolean {
      color: #58880c !important; 
    }

    .token.function.builtin,
    .token.class-name {
      color: #2d2d7c !important;
    }

    .token.parameter,
    .token.variable.parameter {
      color: #4dbb2c !important;
      font-style: italic !important;
    }

    .token.tag {
      color: #f70b0b !important;
    }

    .token.attr-name {
      color: #2fc42f !important;
    }
    .token.punctuation {
      color: #7cbcf7 !important;
    }
  }

  .intro-text{
    max-width: 95%;
  }

  .intro-text2 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    padding: 1rem 3rem 2rem 3rem;
    border-radius: 10px;
    background-color: var(--bg2-color);
    width: 95%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    transition: min-height 0.8s ease;

    p {
      text-align: justify;
    }
  }

  .intro-text3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: var(--bg2-color);
    width: 95%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    transition: min-height 0.8s ease;

    .ej1 {
      padding: 1rem 3rem;

      h2 {
        width: 100%;
      }
    }
  }
}
#resultado3 {
    max-width:100%;
  }



