<aside class="sidebar" id="sidebar">
  <h3>CONTENIDOS</h3>
  <ul>
    <li><a href="./pages/introduccion.html">INTRODUCCIÓN</a></li>
    <li><a href="./pages/datos.html">TIPOS DE DATOS</a></li>
    <li><a href="./pages/objetos.html">OBJETOS</a></li>
    <li><a href="./pages/arrays.html">ARRAYS</a></li>
    <li><a href="./pages/condicionales.html">CONDICIONALES</a></li>
    <li><a href="./pages/bucles.html">BUCLES</a></li>
    <li><a href="./pages/funciones.html">FUNCIONES</a></li>
    <li><a href="./pages/ejercicios.html">EJERCICIOS</a></li>
    <li><a href="./pages/dom.html">DOM</a></li>
    <li><a href="./pages/eventos.html">EVENTOS</a></li>
    <li><a href="./pages/date.html">DATE</a></li>
    <li><a href="./pages/crud.html">CRUD</a></li>
    <li><a href="./pages/ejerciciosDOM.html">EJERCICIOS DOM</a></li>
    <li><a href="./pages/vite.html">VITE</a></li>
    <li><a href="./pages/practicaGuiada.html">PRÁCTICA GUIADA</a></li>
    <li><a href="./pages/es6.html">ES6+</a></li>
    <li><a href="./pages/asincronia.html">ASINCRONÍA</a></li>
    <li><a href="./pages/ejerciciosasincronia.html">EJERCICIOS ES6+ Y ASINCRONÍA</a></li>
    <li><a href="./pages/jscomponents.html">COMPONENTES JAVASCRIPT</a></li>
    <li><a href="./pages/navystorage.html">NAVEGACIÓN Y STORAGE</a></li>
    <li><a href="./pages/ruleta.html">RULETA</a></li>
  </ul>
</aside>
